<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "#Notes" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_tag "var hash_tags = #{ @hash_tags.to_json };" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <%= render 'layouts/flash_messages' %>

    <div class="container">
      <div class="row">
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>

    <!-- Javascripts ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
